.mainPage {
  display: flex; }

.firstButtonDiv {
  left: 0; }

.secondButtonDiv {
  top: 0; }

.thirdButtonDiv {
  right: 0; }

.fourthButtonDiv {
  bottom: 0; }

.addUser {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }
